#signUp {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-size: cover;

    #signUp-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

        #signUp-form {
            width: 415px;
            max-width: 415px;
            padding: 32px;
            background: transparent;
            text-align: center;
            border-radius: 20px;
            @include mat-elevation(16);

            @include media-breakpoint('xs') {
                padding: 24px;
                width: 100%;
            }

            .title {
                font-size: 24px;
                font-weight: 600;
                line-height: 1;
                color: black;
            }

            .form {
                width: 100%;
                margin-top: 22px;

                .mt-22 {
                    margin-top: 22px;
                }

                .sign_in {
                    width: 300px;
                    text-align: right;
                    font-weight: 300;
                    color: #005788;
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                    background-color: #005788 !important;   
                    color:white; 
                    cursor: pointer; 
                }
            }
        }

 
    }
}

