<div fxLayout="column" style="width: 100%">
    <div fxLayout="row">
        <mat-form-field fxFlex="100">
            <input matInput type="text" placeholder="Buscar Pokemon" #busqueda #input (keyup)="applyFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <div fxLayout="row" class="tableWidth">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef
                        style="background-color: #1f4e78; color: white !important;">
                        #
                    </th>
                    <td mat-cell *matCellDef="let element" (click)="detailPokemon(element.name)">
                        {{element.index}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef
                        style="background-color: #1f4e78; color: white !important; width: 80%;">
                        Nombre
                    </th>
                    <td mat-cell *matCellDef="let element" (click)="detailPokemon(element.name)">
                        {{element.name | titlecase }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef class="center"
                        style="background-color: #1f4e78; color: white !important;  width: 20%;">
                        Ver Detalles
                    </th>
                    <td mat-cell *matCellDef="let element" class="center">
                        <button mat-icon-button matTooltip="Ver Pokémon" (click)="openDialog(element.name)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                    </td>
                </ng-container>



                <ng-container matColumnDef="expandedDetail">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-detail">
                            <div fxLayout="row" class="example-element-description" fxFlex="100" class="ml-44">
                                <div class="secondTableWidth">
                                    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
                            
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef
                                                style="background-color: #1f4e78; color:white !important;">
                                                Movimiento
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.move.name | titlecase}}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true;"
                                            style="height: 40px;"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"
                                            style="height: 40px;"></tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"  style="height: 40px;" ></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>

        </div>
        <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 100, 400, 800, 1000]" #dataPaginador>
        </mat-paginator>
    </div>
</div>